# General
.DS_Store
.idea
*.cbp
*.pid
*.out
*.log
Testing

# CMake
build/
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-debug-h9/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*

# Python
__pycache__/

# Project
config_gen.h
version.h
